body {
  font-family: 'TT Travels', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 100%
}

.container { 
  @include min-max(320px, 100%); 
}


.wrap {
  @include min-max(320px, 1440px);
  width: 100%;
  padding: 0 8.5rem;
  box-sizing: border-box;
}

.audience-wrap {
  @include min-max(320px, 1440px);
  width: 100%;
  padding: 0 8.5rem;
  box-sizing: border-box;
}

body, 
html {
  overflow-x: hidden;
}

h1 {
  font-family: "NEXT ART", sans-serif;
   color: $dark-jungle-green;
   font-weight: 700;

}



h2 {
  font-family: "TT Travels", sans-serif;
   color: $dark-jungle-green;
   font-weight: 700;
 
}

p, 
span,
a {
  color: $white;
}

a {
  text-decoration: none;
 
}

section {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}
