.audience {
  padding: 3.813rem 0 3.375rem 0;
    //  background: url(/assets/img/audience-background.png) no-repeat;
    background: url(#{$base-url}/assets/img/audience-background.png) no-repeat;
    background-size: contain;
    background-position: bottom right;

    &-wrap {
      position: relative;
     &::after {
      content: '';
      position: absolute;
      // background: url(/assets/icons/audience-black-arrow.svg) no-repeat;
      background: url(#{$base-url}/assets/icons/audience-black-arrow.svg) no-repeat;
      background-size: contain;
      background-position: top left;
       width: 20.938rem;
    height: 6.688rem;
      top: 28%;
      left: 7%;
    }

       &::before {
      content: '';
      position: absolute;
      background: url(#{$base-url}/assets/icons/audience-white-arrow.svg) no-repeat;
      // background: url(#{$base-url}/assets/icons/audience-white-arrow.svg) no-repeat;
      background-size: contain;
      background-position: bottom right;
          width: 27.938rem;
    height: 11.688rem;
    bottom: 12%;
    right: 0%;
    }
    }


  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 2.563rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.188rem;

    > p {
      padding: 1.875rem 0;
      background: linear-gradient(to right, #f22532, #f9a246);
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      border-radius: 1.875rem;
    }

     
  }



  &__text {


    > h2 {
font-weight: 600;
font-size: 2rem;
text-align: center;
color: $dark-jungle-green;
background: url(#{$base-url}/assets/img/audience-text-background.png) no-repeat;
//  background: url(#{$base-url}/assets/img/audience-text-background.png) no-repeat;
  background-size: contain;
   background-position: center;
  padding: 3.5rem;

    }
  }

  &__list-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.375rem;
    margin: 0 auto;
  }

  &__list-second {
     display: flex;
    flex-direction: row;
    gap: 4.375rem;
    margin: 0 6.813rem;
  }

  &__list-secondary {
    display: flex;
    flex-direction: row;
    gap: 4.375rem;
    margin: 0 13.375rem;
    align-items: stretch;
  }

  &__item {
    flex: 1;
    display: flex;

  

    p {
      flex: 1;
       display: flex;
      padding: 2.125rem 2.875rem;
      background: linear-gradient(to right, #f22532, #f9a246);
      text-align: center;
      border-radius: 1.875rem;
      font-weight: 700;
      font-size: 1rem;
      min-height: 7.813rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-paragraph {
      padding: 1.531rem 2.25rem;
    }
  }

    &__item-40 {

      flex: 0 0 35%;

    }

    &__item-60 {

      flex: 1;

    }
}

@media (max-width: 490px) {
  .audience {
    padding: 2rem 0;
     background:  url(#{$base-url}/assets/img/audience-background.png) no-repeat right bottom,
    url(#{$base-url}/assets/img/audience-background-mobile.png) no-repeat left top;
    //  background: url(#{$base-url}/assets/img/audience-background.png) no-repeat;
   



    &-wrap {
      position: relative;
     &::after {
      content: '';
      position: absolute;
      background: url(#{$base-url}/assets/icons/audience-black-arrow.svg) no-repeat;
      background-size: contain;
      background-position: top left;
             width: 8.938rem;
        height: 7.688rem;
        top: 38%;
      left: 0;
    }

       &::before {
      content: '';
      position: absolute;
       background: url(#{$base-url}/assets/icons/audience-white-arrow.svg) no-repeat;
      background-size: contain;
      background-position: bottom right;
          width: 10rem;
    height: 5rem;
    bottom: 10%;
    right: 0%;
    }
    }

    &__container {
      gap: 1.5rem;

      > p {
        padding: 1.2rem 0.5rem;
        font-size: 1.25rem;
        border-radius: 1.2rem;
      }
    }

    &__text > h2 {
      font-size: 1.25rem;
      padding: 3.5rem 0.5rem;
       background: url(#{$base-url}/assets/img/audience-text-background-mobile.png) no-repeat;
      background-size: contain;
      background-position: center;
    }

  

    &__list {
      grid-template-columns: 1fr;
      gap: 1.25rem;
    }

    &__list-second,
    &__list-secondary {
      flex-direction: column;
      gap: 1.25rem;
      margin: 0;
    }

    &__item p {
      padding: 1.5rem;
      font-size: 0.875rem;
      min-height: 6rem;
      border-radius: 1rem;
    }

    &__item-40 {
      flex: 1;
    }

    &__item-60 {
      flex: 1;
    }

  }
}
