/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Travels";
  src: url("../fonts/TTTravels-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grandis Extended";
  src: url("../fonts/grandisextended-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grandis Extended";
  src: url("../fonts/GrandisExtended-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/ActayWide-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arkhip";
  src: url("../fonts/Arkhip-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NEXT-ART";
  src: url("../fonts/NEXT-ART_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "TT Travels", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0 8.5rem;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

h1 {
  font-family: "NEXT ART", sans-serif;
  color: #191919;
  font-weight: 700;
}

h2 {
  font-family: "TT Travels", sans-serif;
  color: #191919;
  font-weight: 700;
}

p,
span,
a {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about {
  padding: 4.063rem 0 7.188rem 0;
  background: url(/assets/img/tourism-background.png) no-repeat;
  background-position: right;
  background-size: contain;
  width: 100%;
  object-fit: cover;
}
.about__container {
  display: flex;
  flex-direction: column;
  gap: 3.875rem;
}
.about-link {
  width: 11.563rem;
  height: 3.875rem;
  text-decoration: none;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
}
.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 0.813rem;
}
.about__text-container h2 {
  font-size: 3rem;
}
.about__text-container h1 {
  text-transform: uppercase;
  font-size: 4rem;
}
.about__text-wrap p {
  padding: 1.813rem 2.813rem 1.313rem 2.625rem;
  background: linear-gradient(to bottom right, #F22532, #F9A246);
  color: #FFFFFF;
}
.about__text-wrap h2 {
  padding: 0.688rem 1.5rem 0.688rem 2.063rem;
}
.about__wrap {
  display: flex;
  flex-direction: column;
  gap: 1.813rem;
}
.about__wrap a {
  padding: 0.688rem 2.188rem;
  text-decoration: none;
  background: linear-gradient(to bottom right, #F22532, #F9A246);
  border-radius: 0 4.375rem 4.375rem 1.563rem;
  max-width: 28.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}
.about__wrap a:last-child {
  border-radius: 2.188rem;
  font-weight: 700;
  font-family: "Actay Wide", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 3.563rem;
}
.header img {
  max-width: 11.563rem;
  height: auto;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__item-link {
  padding: 0.5rem 0.844rem;
  font-weight: 700;
  font-family: "Actay Wide", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 2.188rem;
  background: linear-gradient(to bottom right, #F22532, #F9A246);
}

.education {
  padding: 4.688rem 0;
  background: linear-gradient(to right, #F22532, #F9A246);
}
.education__text {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

.prepares {
  padding: 6.688rem 0;
  position: relative;
}
.prepares::before {
  content: "";
  position: absolute;
  background: url(/assets/img/tourism-student.png) no-repeat;
  background-position: right center;
  background-size: 34vw auto;
  right: 0;
  bottom: 15%;
  width: min(57.5rem, 34vw);
  height: min(15.063rem, 100%);
  object-fit: cover;
  border-top-left-radius: 1.375rem;
  border-bottom-left-radius: 1.375rem;
}
.prepares__container {
  max-width: 60%;
}
.prepares__container p {
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  color: #191919;
}

.profiles {
  padding: 2.625rem 0;
  background: linear-gradient(to right, #F22532, #F9A246);
}
.profiles__text {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.audience {
  padding: 3.813rem 0 3.375rem 0;
}
.audience__container {
  display: flex;
  flex-direction: column;
  gap: 1.938rem;
}
.audience__container > p {
  padding: 1.875rem 0;
  background: linear-gradient(to right, #f22532, #f9a246);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  border-radius: 1.875rem;
}
.audience__list-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.audience__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.375rem;
}
.audience__list-secondary {
  display: flex;
  flex-direction: row;
  gap: 4.375rem;
  margin: 0 13.375rem;
}
.audience__item {
  width: 100%;
}
.audience__item p {
  padding: 2.125rem 2.875rem;
  background: linear-gradient(to right, #f22532, #f9a246);
  text-align: center;
  border-radius: 1.875rem;
  font-weight: 700;
  font-size: 1rem;
  min-height: 7.813rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audience__item-paragraph {
  padding: 1.531rem 2.25rem;
}

/*# sourceMappingURL=style.css.map */
